<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar uma nova opção:</title>
</head>
<body>
<h1>ISCTE - Instituto Universitário de Lisboa</h1>
<h2>Pode criar uma nova opção aqui:</h2>
Questão : {{ questao.questao_texto }}

{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

<form class="cria_opcao"  method="post" action="{% url 'votacao:inseriropcao' questao.id %}">
    {% csrf_token %}
<fieldset>
  <label for="opcao_texto">Texto da nova Opção:</label><br>
  <input type="text" id="opcao_texto" name="opcao_texto" value=""><br>
  <input type="submit" value="Gravar nova Opção">
</fieldset>

</form>

<a href="{% url 'votacao:index' %}">
    <input type="button" value="Voltar">
</a>
</body>
</html>